manifest {
  name = "BCCDC-PHL/snippy-core-phylogenomics"
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version= '0.1.4'
}

params {
  profile = false
  cache = ''
  samplesheet_input = 'NO_FILE'
  mask = 'NO_FILE'
  skip_gubbins = false
}

profiles {
  conda {
     conda.enabled = true
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }

  apptainer {
    apptainer.enabled = true
    process.container = "oras://ghcr.io/bccdc-phl/snippy-core-phylogenomics:de9ad98e64844f89"
    if (params.cache){
        apptainer.cacheDir = params.cache
      }
    }
}

env {
    // solution for following gubbins/numba container issue: https://github.com/DOH-JDJ0303/bigbacter-nf/issues/7
    NXF_APPTAINER_HOME_MOUNT = 'true'
}

process {
  withName: gubbins {
    cpus = 8
  }
  withName: iqtree {
    cpus = 16
  }
}
