manifest {
  name = "BCCDC-PHL/snippy-phylogenomics"
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  samplesheet_input = 'NO_FILE'
  mask = 'NO_FILE'
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}