manifest {
  name = "BCCDC-PHL/snippy-core-phylogenomics"
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version= '0.1.2'
}

params {
  profile = false
  cache = ''
  samplesheet_input = 'NO_FILE'
  mask = 'NO_FILE'
  skip_gubbins = false
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

process {
  withName: gubbins {
    cpus = 8
  }
  withName: iqtree {
    cpus = 16
  }
}
